<body>
<h2>aaa</h2>

<p>{{.user.ID}}</p>
<p>{{.user.Name}}</p>
<p>{{.user.Age}}</p>

<form method="post" action="/todos/update/{{.todo.ID}}">
    <p>Content<input type="text" name="text" size="30" value="{{.todo.Text}}" ></p>
    <p>Status
        <select name="status">
            {{if eq .todo.Status "ongoing"}}
                <option value="ongoing" selected>ongoing</option>
                <option value="ongoing">ongoing</option>
                <option value="done">done</option>
            {{else if eq .todo.Status "ongoing"}}
                <option value="ongoing">ongoing</option>
                <option value="ongoing" selected>ongoing</option>
                <option value="done">done</option>
            {{else}}
                <option value="ongoing">ongoing</option>
                <option value="ongoing">ongoing</option>
                <option value="done" selected>done</option>
            {{end}}
        </select>
    </p>
    <p><input type="submit" value="Send"></p>
</form>
</body>
